$bodyColor: #F6F5FA;
$whiteColor: #ffffff;
$bgLightColor: #E3E2DF;
$bgLightColorAlt: #E3CFDC;
// 3931af
// 
$primaryColor: #C3073F;
$primaryAltColor: #ff1744;
$primaryDarkColor: #9A1750;
$primaryLightColor: #EE4C7C;
$secondaryColor: #E64398;
$secondaryLightColor: #E7717D;
$primaryText: #2D000E;

// Text & Border Shade
$textShade1: #928FA0;
$textShade2: #B4B0C8;
$textShade3: #B8B4CC;
$textShade4: $bodyColor;
$textShade5: #DDDDDD;